#container{
  width: 100%;
  min-width: 2000px;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 0%;
}
html, body { /*prevent from sidescrolling*/
    max-width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
.logo{
  height: 100px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #dddddd;*/

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  display: inline;
  float: right;
  padding-top: 2%;
}
a {
  display: block;
  padding: 8px;
  /*background-color: #dddddd;*/
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ADD8E6;
}
.fb{
  position: absolute;
  padding: 5px;
  height: 40px;
  right: 15%;
}
.twitter{
  position: absolute;
  top: 20%;
  padding: 5px;
  height: 40px;
  right: 17%;
}
.telephone{
  position: absolute;
  padding: 5px;
  top: 20%;
  height: 40px;
  right: 19%;
}
.online {
  background-color: #ADD8E6;
}
.Button{
  background-color: blue;
  color: white;
  border-radius: 25px;
}
.Button1{
  top: 60%;
  position:  absolute;
  left: 38%;
  background-color: blue;
  color: white;
  border-radius: 25px;
  width: 25%;
  padding: 2%;
}
.calendar{
  display: inline-block;
  float: right;
  height: 50px;
}
.Header{
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 90%;
}
.white{
  position: fixed;
  background-color: white;
  top: 5%;
  width: 100%;
  height: 11%;
  left: 0;
}
.Nav-bar {
  position: fixed;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 20%;
}

.originalHeader{
  position: fixed;
  background-color: #f9f9f9;
  top: 0px;
  height: 5%;
  width: 100%;
  left: 0;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  top: 150px;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.about{
  position: absolute;
  background-color: white;
  top: 20%;
  height: 15%;
  width: 100%;
  left: 0px;
}

.icon{
  height: 100px;
  position: absolute;
  left: 80%;
  top: 20%;
}
.icon1{
  height: 80px;
  position: absolute;
  left: 81%;
  top: 20%;
}
.icon2{
  height: 80px;
  position: absolute;
  left: 81%;
  top: 20%;
}
.icon3{
  height: 70px;
  position: absolute;
  left: 80.5%;
  top: 20%;
}
.icon4{
  height: 70px;
  position: absolute;
  left: 81.5%;
  top: 20%;
}
.icon5{
  height: 80px;
  position: absolute;
  left: 81%;
  top: 20%;
}
.icon6{
  height: 70px;
  position: absolute;
  left: 82%;
  top: 20%;
}
.icon7{
  height: 70px;
  position: absolute;
  left: 82%;
  top: 20%;
}
.line{
  background-color: #6262fc;
  top: 20%;
  height: 5%;
  width: 100%;
  left: 0px;

}
.subheader{
  font-size: 25px;
  text-align: center;
}

.info{
  position: absolute;
  top: 40%;
  text-align: left;
  background-color: #ADD8E6;
  width: 100%;
  left: 0px;
  height: 15%;
}
  .info::after {
    content: "";
    width: 84%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    filter: blur(50px);
    transition: 0.3s;
  }
  .info:hover {
      content: "";
      width: 84%;
      height: 15%;
      position: absolute;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      transform: translate(-50%);
      filter: blur(0px);
      width: 97%;
    }
    .info1::after {
      content: "";
      width: 84%;
      height: 90%;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 8px;
      left: 50%;
      z-index: -1;
      transform: translate(-50%);
      filter: blur(50px);
      transition: 0.3s;
    }
    .info1:hover {
        content: "";
        width: 84%;
        height: 15%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        z-index: 1;
        transform: translate(-50%);
        filter: blur(0px);
        width: 97%;
      }
      .info2::after {
        content: "";
        width: 84%;
        height: 90%;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 8px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%);
        filter: blur(50px);
        transition: 0.3s;
      }
      .info2:hover {
          content: "";
          width: 84%;
          height: 15%;
          position: absolute;
          bottom: 0px;
          left: 50%;
          z-index: 1;
          transform: translate(-50%);
          filter: blur(0px);
          width: 97%;
        }
        .info3::after {
          content: "";
          width: 84%;
          height: 90%;
          background: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: 8px;
          left: 50%;
          z-index: -1;
          transform: translate(-50%);
          filter: blur(50px);
          transition: 0.3s;
        }
        .info3:hover {
            content: "";
            width: 84%;
            height: 15%;
            position: absolute;
            bottom: 0px;
            left: 50%;
            z-index: 1;
            transform: translate(-50%);
            filter: blur(0px);
            width: 97%;
          }
          .info4::after {
            content: "";
            width: 84%;
            height: 90%;
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            bottom: 8px;
            left: 50%;
            z-index: -1;
            transform: translate(-50%);
            filter: blur(50px);
            transition: 0.3s;
          }
          .info4:hover {
              content: "";
              width: 84%;
              height: 15%;
              position: absolute;
              bottom: 0px;
              left: 50%;
              z-index: 1;
              transform: translate(-50%);
              filter: blur(0px);
              width: 97%;
            }
            .info5::after {
              content: "";
              width: 84%;
              height: 90%;
              background: rgba(0, 0, 0, 0.2);
              position: absolute;
              bottom: 8px;
              left: 50%;
              z-index: -1;
              transform: translate(-50%);
              filter: blur(50px);
              transition: 0.3s;
            }
            .info5:hover {
                content: "";
                width: 84%;
                height: 15%;
                position: absolute;
                bottom: 0px;
                left: 50%;
                z-index: 1;
                transform: translate(-50%);
                filter: blur(0px);
                width: 97%;
              }
              .info6::after {
                content: "";
                width: 84%;
                height: 90%;
                background: rgba(0, 0, 0, 0.2);
                position: absolute;
                bottom: 8px;
                left: 50%;
                z-index: -1;
                transform: translate(-50%);
                filter: blur(50px);
                transition: 0.3s;
              }
              .info6:hover {
                  content: "";
                  width: 84%;
                  height: 15%;
                  position: absolute;
                  bottom: 0px;
                  left: 50%;
                  z-index: 1;
                  transform: translate(-50%);
                  filter: blur(0px);
                  width: 97%;
                }
                .info7::after {
                  content: "";
                  width: 84%;
                  height: 90%;
                  background: rgba(0, 0, 0, 0.2);
                  position: absolute;
                  bottom: 8px;
                  left: 50%;
                  z-index: -1;
                  transform: translate(-50%);
                  filter: blur(50px);
                  transition: 0.3s;
                }
                .info7:hover {
                    content: "";
                    width: 84%;
                    height: 15%;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    z-index: 1;
                    transform: translate(-50%);
                    filter: blur(0px);
                    width: 97%;
                  }


.aboutheader1{
  position: relative;
  font-size: 35px;
  left: 15%;
}
.subheader1{
  position: relative;
  left: 15%;
  font-size: 25px;
  text-align: left;
}
.info1{
  position: absolute;
  top: 55%;
  text-align: left;
  background-color: white;
  width: 100%;
  height: 15%;
}

.info2{
  position: absolute;
  top: 70%;
  text-align: left;
  background-color: #ADD8E6;
  width: 100%;
  left: 0px;
  height: 15%;
}

.info3{
  position: absolute;
  top: 85%;
  text-align: left;
  background-color: white;
  width: 100%;
  height: 15%;
}
.info4{
  position: absolute;
  top: 100%;
  text-align: left;
  background-color: #ADD8E6;
  width: 100%;
  left: 0px;
  height: 15%;
}
.info5{
  position: absolute;
  top: 115%;
  text-align: left;
  background-color: white;
  width: 100%;
  height: 15%;
}
.info6{
  position: absolute;
  top: 130%;
  text-align: left;
  background-color: #ADD8E6;
  width: 100%;
  left: 0px;
  height: 15%;
}
.info7{
  position: absolute;
  top: 145%;
  text-align: left;
  background-color: white;
  width: 100%;
  height: 15%;
}

.aboutheader{
  text-align: center;
  font-size: 50px;
  color: black;
}


.address-container{
  position: absolute;
  background-color: #6262fc;
  top: 161%;
  height: 50%;
  width: 100%;
  left: 0;
}
.address{
  position: absolute;
  text-align: left;
  color: white;
  left: 32%;
  top: 50px;
}
.address-paragraph{
  white-space: pre-line;
}
.address-icon{
  position: absolute;
  top: 50px;
  padding-top: 25px;
  height: 50px;
  left: 30%;
}

.vl {
  border-left: 6px solid white;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 166%;
  opacity: 90%;
}

.Phone{
  position: absolute;
  text-align: left;
  color: white;
  left: 32%;
  top: 180px;
}

.phone-icon{
  position: absolute;
  top: 180px;
  padding-top: 25px;
  height: 50px;
  left: 30%;
}

.Email{
  position: absolute;
  text-align: left;
  color: white;
  left: 32%;
  top: 280px;
}

.email-icon{
  position: absolute;
  top: 280px;
  padding-top: 25px;
  height: 50px;
  left: 30%;
}

.hours{
  position: absolute;
  text-align: left;
  color: white;
  left: 50%;
  width: 30%;
}

.clock-icon{
  position: absolute;
  top: 50px;
  padding-top: 25px;
  height: 50px;
  left: 57%;
}
